#root {
  text-align: center;
  margin: 40px 0;
}

.backable-project form {
  margin: 0;
  padding: 0;
  width: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(30deg); }
  to { transform: rotate(360deg); }
}
