@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

input[type=text] {
    border: 2px solid #bdc3c7;
    border-radius: 4px;
    font-size: 90%;
    display: inline-block;
    width:300px;
    align-self: right;
    height: 150;
}

input[type=number], input[type=date] {
  border: 2px solid #bdc3c7;
    border-radius: 4px;
    font-size: 90%;
    display: inline-block;
    width:300px;
    padding-left:10px;
    height: 150;
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
    background-color: #616161;
    border-color: #bdc3c7;
    color: white;
    display: inline-block;
}
.fundingStatus {
  background: blue;
  width: 12em;
  color: white;
}

form {
    margin:0 auto;
    padding:40px;
    width: 80%;
}

label{
position:relative;
margin:0px;
padding:5px;
font-family:AR CENA;
font-size:20px;
}

